*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(portfolionew.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #080808;
}
.logo{
    width: 100px;
    padding-left: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
.navitem{
    float: right;
    padding-left: 200px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0dfa05;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    padding-left: 40px;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #0de606;
}
.prathu{
    width: 400px;
    padding: 20px;
    flex-basis: 35%;
    border-radius: 15px;
}
.aboutme{
    float: right;
    width: 230px;
    padding-bottom: 20px;
}
.about-col-2{
    flex-basis: 60%;
    padding-right: 140px;
    
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.myself{
    padding-left: 40px;
    justify-content: space-between;
  
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    padding-left: 35px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 100%;
    height: 10px;
    background: #03ef0b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
#skill::after{
    background-color: #03ef0b;
    color: #080808;
    content: '';
    width: 100%;
    position:absolute;
    left: 0;
    
}
#skill:hover::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#04c00a;
    font-size: 14px;
}
.tab-contents{
    display: none;
    padding-left: 35px;
}
.tab-contents.active-tab{
    display: block;
    padding-left: 35px;
}
#skill-sevices{
    padding: 30px 0;
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.skill-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.skill-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.sub-title{
    color: #03ef0b;
}
.learn-more{
    color: #e7f5e7;
}
.skill-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.skill-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.skill-list div:hover{
    background: #0de606;
    transform: translateY(-10px);
    color: #080808;
}
.learn-more:hover{
    color: #080808;
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}